exportPattern("tarv", "rtree", "stree", "kmgraph", "masal", "forecast")
importFrom(Rcpp, evalCpp)
useDynLib(macs, .registration = TRUE)
import(stats, utils, graphics, grDevices)

S3method(plot, ctree)
S3method(print, ctree)
S3method(print, forecast.ctree)
S3method(plot, stree)
S3method(print, stree)
S3method(print, forecast.stree)
S3method(print, masal)
S3method(print, forecast.masal)
S3method(forecast, ctree)
S3method(forecast, stree)
S3method(forecast, masal)
